@import "./common/var.scss";
@import "./mixins/mixins.scss";

@include b(hello) {
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;

  @include e(message) {
    color: red;
  }
}
